<div class="content">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" #depositForm="ngForm" novalidate>

    <mat-card class="account-card">
      <mat-card-header>
        <mat-card-title><h2>{{title}} account</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="error" *ngIf="error">{{error}}</p>


        <mat-form-field class="select-width">
          <mat-select formControlName="account" placeholder="Select account" ([value])="account" (change)="onAccountChange()" >
            <mat-option *ngFor="let account of accounts" [value]="account" [currency]="account.currency">
              {{ 'Account number: ' + account.accountNumber + ' balance: ' + account.accountBalance  }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('account')?.invalid">Field is required</mat-error>
        </mat-form-field>


      <mat-form-field id="amountField">
        <input matInput type="number" placeholder="Amount" formControlName="amount">
        <currency-icon *ngIf="form.controls['account'].value" [value]="curAccountCurrency"></currency-icon>
        <mat-error *ngIf="amount.errors && amount.errors.hasOwnProperty('required') && amount.errors.required">Field is required</mat-error>
        <mat-error *ngIf="amount.errors && amount.errors.hasOwnProperty('isPositive') && !amount.errors.isPositive">Must be positive</mat-error>
      </mat-form-field>


      <!--</mat-card-content>-->
        <mat-card-actions>
          <button mat-button (click)="cancel()">CANCEL</button>
          <button type="submit" mat-button [disabled]="!depositForm.form.valid">{{title.toUpperCase()}}</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>

  </form>

</div>
