<mat-card [ngClass]="{'primaryAccountViewCard': type === 'p', 'savingAccountViewCard': type === 's'}">
  <mat-card-content class="title">
    <div fxLayout='row' fxLayoutAlign="space-between">
      <span>{{title}}</span>
      <span [currency]="account.currency"><span class="margin-right"></span>{{account.accountBalance}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button [routerLink]="['/account-details', account.id]" [queryParams]="{ t: type.toLowerCase()}"><span>View Details</span></button>
  </mat-card-actions>
</mat-card>

